## Loading and evaluating data

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [2]:
# loading data
df = pd.read_csv('data/appendix.csv', parse_dates=['Launch Date'])
df.head()

,Institution,Course Number,Launch Date,Course Title,Instructors,Course Subject,Year,Honor Code Certificates,Participants (Course Content Accessed),Audited (> 50% Course Content Accessed),...,% Certified of > 50% Course Content Accessed,% Played Video,% Posted in Forum,% Grade Higher Than Zero,Total Course Hours (Thousands),Median Hours for Certification,Median Age,% Male,% Female,% Bachelor's Degree or Higher
0,MITx,6.002x,2012-09-05,Circuits and Electronics,Khurram Afridi,"Science, Technology, Engineering, and Mathematics",1,1,36105,5431,...,54.98,83.2,8.17,28.97,418.94,64.45,26.0,88.28,11.72,60.68
1,MITx,6.00x,2012-09-26,Introduction to Computer Science and Programming,"Eric Grimson, John Guttag, Chris Terman",Computer Science,1,1,62709,8949,...,64.05,89.14,14.38,39.50,884.04,78.53,28.0,83.50,16.50,63.04
2,MITx,3.091x,2012-10-09,Introduction to Solid State Chemistry,Michael Cima,"Science, Technology, Engineering, and Mathematics",1,1,16663,2855,...,72.85,87.49,14.42,34.89,227.55,61.28,27.0,70.32,29.68,58.76
3,HarvardX,CS50x,2012-10-15,Introduction to Computer Science,"David Malan, Nate Hardison, Rob Bowden, Tommy ...",Computer Science,1,1,129400,12888,...,11.11,0,0.00,1.11,220.90,0.00,28.0,80.02,19.98,58.78
4,HarvardX,PH207x,2012-10-15,Health in Numbers: Quantitative Methods in Cli...,"Earl Francis Cook, Marcello Pagano","Government, Health, and Social Science",1,1,52521,10729,...,47.12,77.45,15.98,32.52,804.41,76.10,32.0,56.78,43.22,88.33

In [3]:
# basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 23 columns):
Institution                                     290 non-null object
Course Number                                   290 non-null object
Launch Date                                     290 non-null datetime64[ns]
Course Title                                    290 non-null object
Instructors                                     289 non-null object
Course Subject                                  290 non-null object
Year                                            290 non-null int64
Honor Code Certificates                         290 non-null int64
Participants (Course Content Accessed)          290 non-null int64
Audited (> 50% Course Content Accessed)         290 non-null int64
Certified                                       290 non-null int64
% Audited                                       290 non-null float64
% Certified                                     290 non-null float64
% Certified of > 50% Course Content Accessed    290 non-null float64
% Played Video                                  290 non-null object
% Posted in Forum                               290 non-null float64
% Grade Higher Than Zero                        290 non-null float64
Total Course Hours (Thousands)                  290 non-null float64
Median Hours for Certification                  290 non-null float64
Median Age                                      290 non-null float64
% Male                                          290 non-null float64
% Female                                        290 non-null float64
% Bachelor's Degree or Higher                   290 non-null float64
dtypes: datetime64[ns](1), float64(11), int64(5), object(6)
memory usage: 52.2+ KB

In [4]:
# statistical description of the numerical variables
df.describe()

,Year,Honor Code Certificates,Participants (Course Content Accessed),Audited (> 50% Course Content Accessed),Certified,% Audited,% Certified,% Certified of > 50% Course Content Accessed,% Posted in Forum,% Grade Higher Than Zero,Total Course Hours (Thousands),Median Hours for Certification,Median Age,% Male,% Female,% Bachelor's Degree or Higher
count,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000
mean,3.172414,0.813793,15344.334483,2549.172414,843.810345,24.916966,7.782586,31.445655,9.347517,21.210379,94.981828,44.364552,29.300000,67.010690,32.989310,72.078724
std,0.906301,0.389946,28207.578733,3095.159969,1105.594372,15.883538,6.972437,19.751102,7.517141,13.411540,157.617610,43.953709,4.047897,15.843642,15.843642,10.256434
min,1.000000,0.000000,322.000000,187.000000,0.000000,2.630000,0.000000,0.000000,0.000000,0.000000,0.110000,0.000000,22.000000,25.240000,6.560000,44.950000
25%,3.000000,1.000000,3815.000000,755.250000,139.500000,14.215000,2.407500,13.400000,3.992500,10.590000,12.960000,12.242500,26.000000,54.170000,18.367500,64.515000
50%,3.000000,1.000000,7901.500000,1517.000000,395.500000,20.425000,5.950000,31.270000,7.245000,19.605000,37.710000,26.965000,29.000000,66.515000,33.485000,73.055000
75%,4.000000,1.000000,18038.250000,3383.000000,1201.750000,33.837500,10.687500,47.622500,14.107500,30.902500,97.225000,64.177500,31.000000,81.632500,45.830000,79.245000
max,4.000000,1.000000,301082.000000,25637.000000,5783.000000,83.960000,33.980000,77.090000,35.280000,52.350000,895.010000,251.820000,53.000000,93.440000,74.760000,98.110000

In [5]:
# check duplicates
df.duplicated().sum()

0

There is no duplicates.

In [6]:
# value counts of Course Subject
df['Course Subject'].value_counts()

Humanities, History, Design, Religion, and Education    94
Science, Technology, Engineering, and Mathematics       91
Government, Health, and Social Science                  75
Computer Science                                        30
Name: Course Subject, dtype: int64

In [7]:
df[df['Honor Code Certificates']==0].Certified.value_counts()

0       4
51      2
94      2
9       2
70      2
20      2
4       1
5       1
19      1
18      1
513     1
128     1
8       1
207     1
268     1
1510    1
12      1
587     1
23      1
1417    1
136     1
92      1
65      1
138     1
63      1
254     1
339     1
38      1
121     1
55      1
127     1
49      1
239     1
46      1
45      1
43      1
27      1
320     1
40      1
166     1
2       1
35      1
947     1
160     1
202     1
282     1
Name: Certified, dtype: int64

For courses did not offer Honor Code Certificates, 4 courses had no students got certified. While the other courses all had students got certified.

There are a few problems with the dataset:
- The 'Instructors' variable has a missing value, but this won't affect our analysis, we will leave it as it is
- The data type of '% Played Video' is not correct, should be float.
- 'Audited (> 50% Course Content Accessed)' is redundant with '% Audited', 'Certified' is redundant with '% Certified', '% Male' is redundant with '% Female'. Since these redundant variables won't provide us too much more information, we will drop them.
- The values of Course Subject are too long. We will replace them with shorter values.
- If a course did not offer Honor Code Certification, there are two situations:1) The course offered no certificates at all or 2) only offered verified certificates. We can tell that the 4 courses with no one got certified offered no certificates at all. We will need to delete these four records. And then we will drop the Honor Code Certification column since it is no longer useful.
- Some variables names are too long, we will rename them.

## Change data type

Next we will convert the data type of '% Played Video' to float.

The variable '% Played Video' is defined as the percent of playing video at least once among participants for a certain course

In [8]:
# unique values of '% Played Video'
df['% Played Video'].unique()

array(['83.2', '89.14', '87.49', '0', '77.45', '82.43', '80.25', '83.24',
       '85.3', '---', '83.55', '84.62', '77.05', '81.82', '85.35',
       '10.96', '79.57', '68.77', '78.02', '80.54', '68.34', '65.15',
       '63.1', '73.84', '75.48', '60.92', '63.3', '76.86', '61.3', '78.7',
       '69.68', '66.94', '72.41', '75.9', '70.79', '68.6', '59.55',
       '70.88', '65.57', '77.16', '66.36', '74.21', '62.97', '73.93',
       '47.62', '69.27', '66.34', '76.01', '69.79', '59.76', '65.09',
       '70.94', '58.94', '67.31', '66.49', '75.32', '64.8', '72.02',
       '76.75', '13.25', '74.69', '70.07', '76.74', '67.07', '73.58',
       '60.52', '73.66', '64.03', '76.87', '68.7', '50.77', '62.87',
       '65.43', '80.08', '67.67', '70.15', '47.87', '65.64', '58.71',
       '57.48', '61.06', '74.36', '73.89', '70.61', '65.42', '67.84',
       '43.18', '67.16', '78.36', '71.12', '40.89', '67.98', '63.42',
       '59.65', '43.82', '43.41', '69.4', '79.76', '67.8', '64.51',
       '73.53', '77.76', '57.25', '72.64', '57.66', '75.53', '61.35',
       '63.12', '62', '68.01', '63.11', '58.24', '67.18', '65.99',
       '64.06', '62.91', '49.74', '55.49', '71.33', '73.04', '64.29',
       '58.98', '65.61', '49.18', '64.37', '74.91', '70.59', '70.27',
       '65.36', '69.33', '74.63', '69.81', '58.67', '67.34', '60.42',
       '63.87', '50.84', '60.48', '59.01', '52.54', '48.94', '55.99',
       '46.81', '65.91', '62.44', '69.82', '59.99', '62.1', '63.22',
       '69.88', '73.7', '77.31', '69.44', '55.96', '63.28', '68.51',
       '58.5', '65.17', '66.58', '70.35', '62.85', '54.95', '65.47',
       '63.21', '62.56', '73.47', '66.19', '69.34', '67.53', '69.01',
       '70.85', '64.93', '66.92', '65.37', '58.87', '69.15', '62.35',
       '69.08', '48.97', '44.39', '74.52', '61.1', '55.98', '54.07',
       '49.71', '66.93', '59.74', '54.94', '54.93', '51.96', '55.44',
       '60.5', '70.46', '78.74', '76.44', '79.15', '66.51', '67.03',
       '69.41', '63.64', '74.26', '72.56', '72.73', '73.22', '74.17',
       '68.26', '53.69', '54.71', '78.09', '55.06', '49.38', '61.87',
       '59.39', '70.54', '47.57', '47.88', '69.02', '12.25', '59.13',
       '54.76', '51.8', '47.78', '46.32', '57.14', '79.75', '64.23',
       '70.58', '55.82', '59.88', '62.13', '67.28', '40.32', '80.21',
       '48.12', '69.22', '57.63', '73.06', '64.96', '58.47', '54.49',
       '77.24', '64.74', '35.12', '51.93', '52.78', '65.51', '55.75',
       '61.51', '75.31', '72.94', '47.84', '71.69', '48.08', '65.3',
       '61.59', '43.37', '58.4', '52.43', '78.23', '60.22', '71.61',
       '70.53', '45.86', '77.06', '25.78', '74.58', '56.24', '71.71',
       '67.83', '74.42', '70.89', '70.01', '66.87', '72.14', '53.43',
       '50.71', '73.34', '59.62', '80.81', '70.11', '12.27', '49.92'],
      dtype=object)

The '0' and '---' values do not look right. We will filter out those records for further exploration.

In [9]:
df[df['% Played Video'].isin(['0', '---'])]

,Institution,Course Number,Launch Date,Course Title,Instructors,Course Subject,Year,Honor Code Certificates,Participants (Course Content Accessed),Audited (> 50% Course Content Accessed),...,% Certified of > 50% Course Content Accessed,% Played Video,% Posted in Forum,% Grade Higher Than Zero,Total Course Hours (Thousands),Median Hours for Certification,Median Age,% Male,% Female,% Bachelor's Degree or Higher
3,HarvardX,CS50x,2012-10-15,Introduction to Computer Science,"David Malan, Nate Hardison, Rob Bowden, Tommy ...",Computer Science,1,1,129400,12888,...,11.11,0,0.00,1.11,220.90,0.00,28.0,80.02,19.98,58.78
9,HarvardX,ER22x,2013-03-02,Justice,Michael Sandel,"Humanities, History, Design, Religion, and Edu...",1,1,58779,9425,...,51.07,---,21.86,20.98,186.61,13.67,30.0,60.42,39.58,69.78
180,MITx,16.101x,2015-09-28,Introduction to Aerodynamics,David L. Darmofal,"Science, Technology, Engineering, and Mathematics",4,1,18732,736,...,8.83,0,2.68,4.60,51.10,138.06,23.0,89.27,10.73,53.08
288,MITx,6.302.1x,2016-08-01,Introduction to State Space Control,"Jacob White, Joe Steinmeyer","Science, Technology, Engineering, and Mathematics",4,0,1431,208,...,3.85,0,3.84,5.73,3.22,62.38,25.0,93.44,6.56,72.31

There are 3 courses with a '% Played Video' value of 0 and 1 with a value of '---', we will have to drop those reords.

In [10]:
# drop the records with '% Played Video' value of '0' and '---'
df = df[~df['% Played Video'].isin(['0', '---'])]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286 entries, 0 to 289
Data columns (total 23 columns):
Institution                                     286 non-null object
Course Number                                   286 non-null object
Launch Date                                     286 non-null datetime64[ns]
Course Title                                    286 non-null object
Instructors                                     285 non-null object
Course Subject                                  286 non-null object
Year                                            286 non-null int64
Honor Code Certificates                         286 non-null int64
Participants (Course Content Accessed)          286 non-null int64
Audited (> 50% Course Content Accessed)         286 non-null int64
Certified                                       286 non-null int64
% Audited                                       286 non-null float64
% Certified                                     286 non-null float64
% Certified of > 50% Course Content Accessed    286 non-null float64
% Played Video                                  286 non-null object
% Posted in Forum                               286 non-null float64
% Grade Higher Than Zero                        286 non-null float64
Total Course Hours (Thousands)                  286 non-null float64
Median Hours for Certification                  286 non-null float64
Median Age                                      286 non-null float64
% Male                                          286 non-null float64
% Female                                        286 non-null float64
% Bachelor's Degree or Higher                   286 non-null float64
dtypes: datetime64[ns](1), float64(11), int64(5), object(6)
memory usage: 53.6+ KB

In [11]:
# convert the data type of '% Played Video' to float.
df['% Played Video'] = df['% Played Video'].astype(float)
df.dtypes

Institution                                             object
Course Number                                           object
Launch Date                                     datetime64[ns]
Course Title                                            object
Instructors                                             object
Course Subject                                          object
Year                                                     int64
Honor Code Certificates                                  int64
Participants (Course Content Accessed)                   int64
Audited (> 50% Course Content Accessed)                  int64
Certified                                                int64
% Audited                                              float64
% Certified                                            float64
% Certified of > 50% Course Content Accessed           float64
% Played Video                                         float64
% Posted in Forum                                      float64
% Grade Higher Than Zero                               float64
Total Course Hours (Thousands)                         float64
Median Hours for Certification                         float64
Median Age                                             float64
% Male                                                 float64
% Female                                               float64
% Bachelor's Degree or Higher                          float64
dtype: object

In [12]:
# statistical describption
df.describe()

,Year,Honor Code Certificates,Participants (Course Content Accessed),Audited (> 50% Course Content Accessed),Certified,% Audited,% Certified,% Certified of > 50% Course Content Accessed,% Played Video,% Posted in Forum,% Grade Higher Than Zero,Total Course Hours (Thousands),Median Hours for Certification,Median Age,% Male,% Female,% Bachelor's Degree or Higher
count,286.000000,286.000000,286.000000,286.000000,286.000000,286.00000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000
mean,3.181818,0.814685,14830.472028,2503.506993,831.307692,25.10993,7.851993,31.623706,64.605594,9.379021,21.393671,94.695455,44.236399,29.339161,66.818007,33.181993,72.198881
std,0.891570,0.389234,27451.524429,3023.354101,1076.783454,15.89988,6.982234,19.704833,11.828426,7.495409,13.384073,158.336711,43.782112,4.049952,15.797822,15.797822,10.234774
min,1.000000,0.000000,322.000000,187.000000,0.000000,2.63000,0.000000,0.000000,10.960000,0.000000,0.000000,0.110000,0.000000,22.000000,25.240000,7.460000,44.950000
25%,3.000000,1.000000,3815.000000,761.750000,144.250000,14.24000,2.492500,13.807500,58.987500,4.080000,11.467500,12.960000,12.242500,26.000000,54.072500,18.542500,64.590000
50%,3.000000,1.000000,7810.500000,1517.000000,395.500000,20.44000,6.045000,31.395000,66.265000,7.315000,19.720000,37.045000,26.965000,29.000000,66.470000,33.530000,73.205000
75%,4.000000,1.000000,17284.750000,3335.750000,1180.500000,34.00250,10.755000,47.622500,72.410000,14.107500,31.180000,96.580000,64.177500,31.000000,81.457500,45.927500,79.387500
max,4.000000,1.000000,301082.000000,25637.000000,5783.000000,83.96000,33.980000,77.090000,89.140000,35.280000,52.350000,895.010000,251.820000,53.000000,92.540000,74.760000,98.110000

## Drop redundant variables

In [13]:
df.drop(['Audited (> 50% Course Content Accessed)', 'Certified','% Male'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286 entries, 0 to 289
Data columns (total 20 columns):
Institution                                     286 non-null object
Course Number                                   286 non-null object
Launch Date                                     286 non-null datetime64[ns]
Course Title                                    286 non-null object
Instructors                                     285 non-null object
Course Subject                                  286 non-null object
Year                                            286 non-null int64
Honor Code Certificates                         286 non-null int64
Participants (Course Content Accessed)          286 non-null int64
% Audited                                       286 non-null float64
% Certified                                     286 non-null float64
% Certified of > 50% Course Content Accessed    286 non-null float64
% Played Video                                  286 non-null float64
% Posted in Forum                               286 non-null float64
% Grade Higher Than Zero                        286 non-null float64
Total Course Hours (Thousands)                  286 non-null float64
Median Hours for Certification                  286 non-null float64
Median Age                                      286 non-null float64
% Female                                        286 non-null float64
% Bachelor's Degree or Higher                   286 non-null float64
dtypes: datetime64[ns](1), float64(11), int64(3), object(5)
memory usage: 46.9+ KB

## Replace Course subject values

In [14]:
df['Course Subject'].replace(['Science, Technology, Engineering, and Mathematics',
       'Computer Science', 'Government, Health, and Social Science',
       'Humanities, History, Design, Religion, and Education'], ['STEM', 'CS', 'GHSS', 'HHDRE'], inplace=True)
df['Course Subject'].value_counts()

HHDRE    93
STEM     89
GHSS     75
CS       29
Name: Course Subject, dtype: int64

## Honor Code Certification

In [15]:
# drop the 4 courses with no certification
df = df[~((df['Honor Code Certificates']==0)&(df['% Certified']==0))]
df.shape

(282, 20)

In [16]:
# drop Honor Code Certification column
df.drop('Honor Code Certificates', axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 19 columns):
Institution                                     282 non-null object
Course Number                                   282 non-null object
Launch Date                                     282 non-null datetime64[ns]
Course Title                                    282 non-null object
Instructors                                     281 non-null object
Course Subject                                  282 non-null object
Year                                            282 non-null int64
Participants (Course Content Accessed)          282 non-null int64
% Audited                                       282 non-null float64
% Certified                                     282 non-null float64
% Certified of > 50% Course Content Accessed    282 non-null float64
% Played Video                                  282 non-null float64
% Posted in Forum                               282 non-null float64
% Grade Higher Than Zero                        282 non-null float64
Total Course Hours (Thousands)                  282 non-null float64
Median Hours for Certification                  282 non-null float64
Median Age                                      282 non-null float64
% Female                                        282 non-null float64
% Bachelor's Degree or Higher                   282 non-null float64
dtypes: datetime64[ns](1), float64(11), int64(2), object(5)
memory usage: 41.9+ KB

## Rename columns

In [17]:
# original coluns names
df.columns

Index(['Institution', 'Course Number', 'Launch Date', 'Course Title',
       'Instructors', 'Course Subject', 'Year',
       'Participants (Course Content Accessed)', '% Audited', '% Certified',
       '% Certified of > 50% Course Content Accessed', '% Played Video',
       '% Posted in Forum', '% Grade Higher Than Zero',
       'Total Course Hours (Thousands)', 'Median Hours for Certification',
       'Median Age', '% Female', '% Bachelor's Degree or Higher'],
      dtype='object')

In [18]:
# new columns names

columns = ['Institution', 'CourseNumber', 'LaunchDate', 'CourseTitle',
       'Instructors', 'CourseSubject', 'Year',
       'Participants', 'PercentAudited',
       'PercentCertified', 'PercentCertifiedAudited',
       'PercentPlayedVideo', 'PercentPosted', 'PercentGradeHigherThanZero',
       'TotalCourseHours', 'MedianHoursCertification',
       'MedianAge', 'PercentFemale', 'PercentBachelorOrHigher']

In [19]:
# rename columns
df.columns = columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 19 columns):
Institution                   282 non-null object
CourseNumber                  282 non-null object
LaunchDate                    282 non-null datetime64[ns]
CourseTitle                   282 non-null object
Instructors                   281 non-null object
CourseSubject                 282 non-null object
Year                          282 non-null int64
Participants                  282 non-null int64
PercentAudited                282 non-null float64
PercentCertified              282 non-null float64
PercentCertifiedAudited       282 non-null float64
PercentPlayedVideo            282 non-null float64
PercentPosted                 282 non-null float64
PercentGradeHigherThanZero    282 non-null float64
TotalCourseHours              282 non-null float64
MedianHoursCertification      282 non-null float64
MedianAge                     282 non-null float64
PercentFemale                 282 non-null float64
PercentBachelorOrHigher       282 non-null float64
dtypes: datetime64[ns](1), float64(11), int64(2), object(5)
memory usage: 41.9+ KB

In [20]:
# save the cleaned data to csv file
df.to_csv('data/appendix_cleaned.csv', index=False)